{% extends 'base.html' %}
{% block content %}
<div class='row'>
  <h1>About Apprehenchmen</h1>
</div>
<div class='row'>
  <h4><div class='row pt-3 text-left ml-5'>
    <p>
        Apprehenchmen is a four-piece rock band in Oakland, CA. Andy Tisdall, veteran of Bay Area bands Little Teeth and ZOO, started playing music with his fiance because they didn't want to hire a band at their own wedding. After their marriage, the couple began to write strange little indie rock songs to entertain friends. They recruited other Oakland musicians to fill out the band, and are now releasing their second full-length album.  "Murder Eyes" is a 14 song examination of how just deep you can dive when the world is super weird.
    </p></h4>
</div>
  <br><br>
<div class='row'>
    <h4>Apprehenchmen consists of:</h4>
</div>
<br>
<div class='row ml-3'>
    <h5>Andy Tisdall: vocals, bass</h5>
</div>
<div class='row ml-3'>
    <h5>Stacey Swan: drums, vocals</h5>
</div>
<div class='row ml-3'>
    <h5>Dan Hoffheins: guitar</h5>
</div>
<div class='row ml-3'>
    <h5>Shaun Haber: guitar</h5>
</div>
<br><br>
<div class='row'>
  <h6>Other bands with Andy in them:</h6>
</div>
<br>
<div class='row ml-3'>
  <p><a href="http://zooisaband.bandcamp.com" target="_blank">ZOO</a></p>
</div>
<div class='row ml-3'>
  <p><a href="http://blowdry.bandcamp.com" target="_blank">Blow Dry</a> (Ben and Andy)</p>
</div>
<div class='row ml-3'>
  <p><a href="http://andytisdall.bandcamp.com" target="_blank">Andy Tisdall</a></p>
</div>
<br><br>
<div class='row'>
  <h4>Past Lineup:</h4>
</div>
<div class='row ml-3'>
  <h5>Andy Tisdall: vocals, bass</h5>
</div>
<div class='row ml-3'>
  <h5>Stacey Swan: keys, vocals</h5>
</div>
<div class='row ml-3'>
  <h5>Paul Igaz: drums</h5>
</div>
<div class='row ml-3'>
  <h5>Ben Christopher: guitar</h5>
</div>
<br><br>
<div class='row'>
  <h6>Other bands with Paul in them:</h6>
</div>
<br>
<div class='row ml-3'>
  <p><a href="https://fastexecution.bandcamp.com/" target="_blank">Fast Execution</a></p>
</div>
<div class='row ml-3'>
  <p><a href="https://superbrat.bandcamp.com/" target="_blank">Superbrat</a></p>
</div>

{% endblock %}
