{% extends 'base.html' %}
{% block content %}


<h1>Electronic Press Kit</h1>

<h2 class="pt-5"><u>Music</u></h2>

<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3733680127/size=large/bgcol=ffffff/linkcol=7137dc/tracklist=false/artwork=small/track=2220113527/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/dress-to-disappear">Dress to Disappear by Apprehenchmen</a></iframe>


<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3733680127/size=large/bgcol=ffffff/linkcol=7137dc/tracklist=false/artwork=small/track=1416561713/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/dress-to-disappear">Dress to Disappear by Apprehenchmen</a></iframe>


<h2 class="pt-5"><u>Photos</u></h2>



<h2 class="pt-5"><u>Bio</u></h2>

<div class='row'>
    <p>
        Apprehenchmen is a four-piece rock band in Oakland, CA. Andy Tisdall, veteran of Bay Area bands Little Teeth and ZOO, started playing music with his fiance because they didn't want to hire a band at their own wedding. After their marriage, the couple began to write strange little indie rock songs to entertain friends. They recruited other Oakland musicians to fill out the band, and are now releasing their second full-length album.  "Murder Eyes" is a 14 song examination of how deep you can dive when the world has lost its mind.

        Andy Tisdall - bass, vocals
        Stacey Swan - drums, vocals
        Dan Hoffheins - guitar
        Shaun Haber - guitar

    </p>
</div>


<h2 class="pt-5"><u>Links</u></h2>

<div class="row pb-3">
    <a href="{% url 'home' %}">Band Website</a>
</div>

<div class='row pb-3'>  
    <a href='http://instagram.com/apprehenchmen' target='_blank'>
        <img src="https://image.flaticon.com/icons/png/512/174/174855.png" width=20px />
    </a>
</div>


<h2 class="pt-5"><u>Shows</u></h2>

<b>August 6th, 2021</b>
<a href="{% url 'shows' %}">The Golden Bull</a>

<h2 class="pt-5"><u>Contact</u></h2>

<div class='row pb-3'>
    <h3><a href='mailto:apprehenchmen@gmail.com'>apprehenchmen@gmail.com</a></h3>
</div>

{% endblock %}