{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">

  <div class="col-7">

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2070711009/size=large/bgcol=333333/linkcol=fe7eaf/tracklist=false/artwork=small/track=2697895487/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/glow-bro">Glow Bro by Apprehenchmen</a></iframe>

  </div>
</div>
<div class="row">
  <a href="{% url 'listen' %}" class="justify-content-start">
    <button type="button" class="btn btn-block btn-light border-dark">More Songs</button>
  </a>

</div>

<div class="row pt-4 mt-3 mb-3">
  <h2 class="jumbotron-heading"><b>New Show! 4/14/24 at the Ivy Room</b></h2>
</div>

<div class="row ml-3">
  <p class="lead text-muted">Join us up in Albany for a nice early Sunday evening show. We've been recording and working on new songs and we're really excited to share it with you.</p>
</div>

  <div class="row">
    <div class="col-md-6 pt-2">
      <a href="{% url 'shows' %}">
        <img src='{% static "ivyroomflyer.jpg" %}' class="img-fluid" height="auto" alt="december 22 flyer">
      </a>
    </div>
  </div>

<div class="row pt-4 mt-3 mb-3">
  <h2 class="jumbotron-heading"><b>Upcoming Show: 8/24/23</b></h2>
</div>

<div class="row ml-3">
  <p class="lead text-muted">We're playing at Thee all-new Stork Club with some very cool characters on Thursday, August 24th. 3 brand new songs will be debuted. Red hotttt</p>
</div>

  <div class="row">
    <div class="col-md-6 pt-2">
      <a href="{% url 'shows' %}">
        <img src='{% static "storkclubflyer.png" %}' class="img-fluid" height="auto" alt="december 22 flyer">
      </a>
    </div>
  </div>

<div class="row pt-4 mt-3 mb-3">
  <div class="col">
    <iframe height="300px" src="https://www.youtube.com/embed/0XIKG5PeuuQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="row pt-4 mt-3 mb-3">
  <h2 class="jumbotron-heading"><b>New Show Dec 4th 2022!</b></h2>
</div>

<div class="row ml-3">
  <p class="lead text-muted">Come down to the Golden Bull, we're writing a lot of new songs and you should be one of them.</p>
</div>

  <div class="row">
    <div class="col-md-6 pt-2">
      <a href="{% url 'shows' %}">
        <img src='{% static "december-flyer.png" %}' class="img-fluid" height="auto" alt="december 22 flyer">
      </a>
    </div>
  </div>

<div class="row pt-4 mt-5 mb-3">
  <h2 class="jumbotron-heading"><b>Thanks for coming to our album release!</b></h2>
</div>

<div class="row ml-3">

  <p class="lead text-muted">It was super duper fun.</p>
  <p class="lead text-muted">We're working on some new songs and some ancient songs, and we'll be playing them at a barn near you soon enough.</p>
  <p class="lead text-muted">In the meantime, you can download our album for free and check out a video and some photos!</p>

</div>

<div class="row">

  <div class="col-sm-6 col-lg-4 pt-2 ml-3">
    <a href="{% url 'listen' %}">
      <img src='{% static "murder-cover.jpg" %}' class="img-fluid" height="auto" alt="Murder Eyes cover">
    </a>
  </div>

  <div class="col d-flex align-items-center pt-3">
      <h3>
        <a href="{% url 'listen' %}">
          <button type="button" class="btn btn-lg btn-block btn-dark">Get <b>Murder Eyes</b></button></a>
        </a>
      </h3>
  </div>


</div>

<div class="row mt-5 mb-5 ml-1">
  <div class="col">
    <iframe height="200px" src="https://www.youtube.com/embed/qKmX7h6XLL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col-sm-12  col-md-6 pb-3">
    <img src="{% static 'gb1.jpg' %}" class="img-fluid" />
  </div>
  <div class="col-sm-12  col-md-6 pb-3">
    <img src="{% static 'gb2.jpg' %}" class="img-fluid" />
  </div>
</div>
<div class="row">

  <div class="col-sm-12 col-md-6 pb-3">
    <img src="{% static 'gb3.jpg' %}" class="img-fluid" />
  </div>
  <div class="col-sm-12  col-md-6 pb-3">
    <img src="{% static 'gb4.jpg' %}" class="img-fluid" />
  </div>

</div>
<div class="row pt-4 mt-5 mb-3">
  <h2 class="jumbotron-heading"><b>Murder Eyes Album Release</b></h1>
</div>


<div class="row ml-3">
  <p class="lead text-muted">We're celebrating the release of our new album with a show at the Golden Bull! Come join us for the reveal.</p>
</div>

  <div class="row">
    <div class="col-md-6 pt-2">
      <a href="{% url 'shows' %}">
        <img src='{% static "april-flyer-small.jpg" %}' class="img-fluid" height="auto" alt="album release flyer">
      </a>
    </div>
  </div>

  <div class="row pt-4 mt-5 mb-3">
    <h2 class="jumbotron-heading"><b>Murder Eyes is Out Now!</b></h1>
  </div>

  <div class="row ml-3">
    <p class="lead text-muted">Apprehenchmen's second album has been released.  We worked hard on it and we hope it can survive out in the world.  CDs and free downloads are available through Bandcamp.</p>
  </div>

  <div class="row">
    <div class="col-md-6 pt-2">
      <a href="https://apprehenchmen.bandcamp.com/album/murder-eyes">
        <img src='{% static "murder-cover.jpg" %}' class="img-fluid" height="auto" alt="Murder Eyes cover">
      </a>
    </div>
    <div class="col-md-3 ml-5 mt-3 justify-content-start">
      <div class="row pb-3">
        <p class="lead text-muted">Listen/Buy Murder Eyes:</p>
      </div>
      <div class="row pb-3 ">
        <a href="https://open.spotify.com/album/1CqafEZ3YO8vViBCRRYk5p" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Spotify</button></a>
      </div>
      <div class="row pb-3 ">
        <a href="https://apprehenchmen.bandcamp.com/album/murder-eyes" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Bandcamp</button></a>
      </div>
      <div class="row pb-3">
        <a href="https://music.apple.com/us/album/murder-eyes/1597549388" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Apple Music</button></a>
      </div>
      <div class="row pb-3 ">
        <a href="https://www.amazon.com/gp/product/B09MN2YYWN" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Amazon</button></a>
      </div>
      <div class="row pb-3">
        <a href="https://soundcloud.com/apprehenchmen/sets/murder-eyes" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Soundcloud</button></a>
      </div>
      
      <div class="row pb-3 ">
          <a href="https://www.youtube.com/playlist?list=OLAK5uy_kmMKv_ZoDZ7ezgNTxAIooJDipId_4N_iA" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">YouTube</button></a>
      </div>
     
    </div>
  </div>
  <hr>
  <div class="row pt-4 mt-5 mb-3">
    <h3><b>DRESS TO DISAPPEAR</b></h1>
  </div>
  <div class="row">
    <p class="lead text-muted ml-3">The first album by Apprehenchmen</p>
  </div>
  <div class="row">
    <br />
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <a href="http://apprehenchmen.bandcamp.com/album/dress-to-disappear">
          <img src='{% static "dress-cover.jpg" %}' class="img-fluid" height="auto" alt="Dress to Disappear cover">
        </a>
      </div>

    </div>

    <div class="col-md-4 mt-3 ml-5 justify-content-start">

      <div class="row pb-3">
        <p class="lead text-muted">Listen/Buy Dress to Disappear:</p>
      </div>

      <div class="row">

        <div class="col-5 mr-5">

          <div class="row pb-3 ">
            <a href="https://apprehenchmen.bandcamp.com/album/dress-to-disappear" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Bandcamp</button></a>
          </div>

          <div class="row pb-3">
              <a href="https://www.youtube.com/watch?v=Jnop8HwBM5M&list=OLAK5uy_mJindE8-p0kbtWZOO0n7RhkD38YGMr8IE" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">YouTube</button></a>
          </div>

          <div class="row pb-3 ">
              <a href="https://open.spotify.com/album/59FmgQCIB8Hup6b1ngSwgU" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Spotify</button></a>
          </div>

        </div>

        <div class="col-5">

          <div class="row pb-3">
              <a href="https://music.apple.com/us/album/dress-to-disappear/1483708235?uo=4&app=music&at=1001lry3&ct=dashboard" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Apple Music</button></a>
          </div>

          <div class="row pb-3 ">
              <a href="http://www.amazon.com/gp/product/B07Z5QP631" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Amazon</button></a>
          </div>

          <div class="row pb-3">
              <a href="https://soundcloud.com/apprehenchmen/sets/dress-to=dress-to-disappear" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Soundcloud</button></a>
          </div>    

        </div>
      </div>
    </div>


  </div>

{% endblock %}
