{% extends 'base.html' %}
{% block content %}

<div class="row mb-5">
    <h1 class="text-center pt-3">FOR YOUR LISTENING PLEASURE</h1>
</div>

<div class="row">

  <h3>Glow Bro</h3>
  <iframe style="border: 0; width: 300px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2070711009/size=large/bgcol=333333/linkcol=fe7eaf/tracklist=false/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/glow-bro">Glow Bro by Apprehenchmen</a></iframe>

</div>

<div class="row">
  <h3><b>Murder Eyes</b></h1>
</div>
<div class="row">
  <p class="lead text-muted">The second album by Apprehenchmen</p>
</div>
<div class="row mb-5">
  <div class="col-md-6">
    <div class="row mb-4">
      <iframe style="border: 0; width: 300px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841159518/size=large/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/murder-eyes">Murder Eyes by Apprehenchmen</a></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row pb-3 ml-5">
      <p class="lead text-muted">Listen/Buy Murder Eyes:</p>
    </div>
      <div class="row pb-3 ">
        <a href="https://open.spotify.com/album/1CqafEZ3YO8vViBCRRYk5p" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Spotify</button></a>
      </div>
      <div class="row pb-3 ">
        <a href="https://apprehenchmen.bandcamp.com/album/murder-eyes" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Bandcamp</button></a>
      </div>
      <div class="row pb-3">
        <a href="https://music.apple.com/us/album/murder-eyes/1597549388" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Apple Music</button></a>
      </div>
      <div class="row pb-3 ">
        <a href="https://www.amazon.com/gp/product/B09MN2YYWN" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Amazon</button></a>
      </div>
      <div class="row pb-3">
        <a href="https://soundcloud.com/apprehenchmen/sets/murder-eyes" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Soundcloud</button></a>
      </div>
                    
      <div class="row pb-3 ">
        <a href="https://www.youtube.com/playlist?list=OLAK5uy_kmMKv_ZoDZ7ezgNTxAIooJDipId_4N_iA" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">YouTube</button></a>
      </div>
  </div>
</div>
<div class="row">
    <h3><b>Dress to Disappear</b></h1>
  </div>
  <div class="row">
    <p class="lead text-muted">The first album by Apprehenchmen</p>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="row mb-4">
        <iframe style="border: 0; width: 300px; height: 726px;" src="https://bandcamp.com/EmbeddedPlayer/album=3733680127/size=large/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless><a href="https://apprehenchmen.bandcamp.com/album/dress-to-disappear">Dress to Disappear by Apprehenchmen</a></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row pb-3 ml-5">
        <p class="lead text-muted">Listen/Buy Dress to Disappear:</p>
      </div>
        <div class="row pb-3 ">
          <a href="https://apprehenchmen.bandcamp.com/album/dress-to-disappear" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Bandcamp</button></a>
        </div>
        <div class="row pb-3 ">
            <a href="https://www.youtube.com/watch?v=Jnop8HwBM5M&list=OLAK5uy_mJindE8-p0kbtWZOO0n7RhkD38YGMr8IE" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Youtube</button></a>
        </div>
        <div class="row pb-3 ">
            <a href="https://open.spotify.com/album/59FmgQCIB8Hup6b1ngSwgU" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Spotify</button></a>
        </div>
        <div class="row pb-3">
            <a href="https://music.apple.com/us/album/dress-to-disappear/1483708235?uo=4&app=music&at=1001lry3&ct=dashboard" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Apple Music</button></a>
        </div>
        <div class="row pb-3 ">
            <a href="http://www.amazon.com/gp/product/B07Z5QP631/?tag=distrokid06-20" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Amazon</button></a>
        </div>
        <div class="row pb-3">
            <a href="https://soundcloud.com/apprehenchmen/sets/dress-to-disappear" target="_blank"><button type="button" class="btn btn-lg btn-block btn-dark">Soundcloud</button></a>
        </div>


   
    </div>
  </div>
{% endblock %}