{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="pb-4">Videos & Photos</h1>
    <div class="row mb-4">
        <div class="col">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/jkYQWBI7JvI?si=YP-rBfOxBujtArrZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <iframe width="500" height="700" src="https://www.youtube.com/embed/0XIKG5PeuuQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qKmX7h6XLL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1Qu8yUM1Xk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
        
    <div class="row mb-4">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/99f199iB4ss" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Qb1jk4Wy30Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mb-4">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/3aH2kSK11jk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="row">
        <div class="col-sm-12  col-md-6 pb-3">
            <img src="{% static 'gb1.jpg' %}" class="img-fluid" />
        </div>
        <div class="col-sm-12  col-md-6 pb-3">
            <img src="{% static 'gb2.jpg' %}" class="img-fluid" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12  col-md-6 pb-3">
            <img src="{% static 'gb3.jpg' %}" class="img-fluid" />
        </div>
        <div class="col-sm-12  col-md-6 pb-3">
            <img src="{% static 'gb4.jpg' %}" class="img-fluid" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'murder-inside-cover.png' %}"  class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'home-prac.jpg' %}"  class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'andy-gtr.jpg' %}"  class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'andy-studio.jpg' %}" class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'artshow.jpg' %}"  class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pb-3">
            <img src="{% static 'andy-piano.jpg' %}"  class="img-fluid" />
        </div>
    </div>

{% endblock %}